@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;
@use "sass:map";

.grid {
    display: grid;
    grid-template-columns: clamp(18.75rem, 87.2vw, 28.125rem); //pme column that expands at a reasonable length
    @include m.spacing(gap, 300);
    border-radius: .938rem;

    @media screen and (min-width: map.get(v.$breakpoint, m_screen)) {
        grid-template-columns: repeat(3, minmax(clamp(11.25rem, 24.2vw, 31.25rem), 1fr));

        &> :first-child {
            grid-column: span 3 / span 3;
        }
    }

    @media screen and (min-width: map.get(v.$breakpoint, l_screen)) {
        grid-template-columns: repeat(4, clamp(12.5rem, 17.72vw, 50rem));
        @include m.spacing(gap, 400);

        &> :first-child {
            grid-column: 1 / 2;
            grid-row: span 2 / span 2;
        }
    }
}