@use "../abstract/mixins" as mix;
@use "../abstract/variables" as var;
@use "sass:map";

.grid {
    display: grid;
    grid-template-columns: clamp(18.75rem, 87.2vw, 28.125rem); //pme column that expands at a reasonable length
    gap: map.get(var.$spacing, 24);
    border-radius: .938rem;

    @include mix.respond_to(min, m_screen) {
        grid-template-columns: repeat(3, minmax(clamp(11.25rem, 24.2vw, 31.25rem), 1fr));

        &> :first-child {
            grid-column: span 3 / span 3;
        }
    }

    @include mix.respond_to(min, l_screen) {
        grid-template-columns: repeat(4, clamp(12.5rem, 17.72vw, 50rem));
        gap: map.get(var.$spacing, 32);

        &> :first-child {
            grid-column: 1 / 2;
            grid-row: span 2 / span 2;
        }
    }
}